@import './assets/styles/variables'; 
@import './assets/styles/global'; 
@import './assets/styles/tooltip'; 
@import './assets/styles/images'; 
@import './assets/styles/buttons';
@import './assets/styles/dots';
.hide{
  display: none
}
.show{
  display: block;
}

.section-wraper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  .button-container{
    margin-right: 2rem;
  }
}

@import './assets/styles/media-query';