@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba($primary, 0.7);
  }
  100% {
    box-shadow: 0 0 0 20px rgba($primary, 0);
  }
}

.tooltip {
  position: relative;
  margin: 40px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: $primary;
  line-height: 1.8rem;
  border-radius: 50%;
  animation: shadow-pulse 1.2s infinite;
}

.popover {
  display: none;
}
.tooltip-1 {
  top: -330px;
  right: 150px;
}
.tooltip-2 {
  top: -80px;
}
.tooltip-3 {
  top: -225px;
  left: 120px;
}
.tooltip-4 {
  top: -130px;
}
.tooltip-5 {
  top: -350px;
  right: 60px;
}
.tooltip-6 {
  top: -240px;
  left: 60px;
}
.tooltip-7 {
  top: -230px;
  left: 200px;
}
.tooltip-8 {
  top: -80px;
  left: 50px;
}
.tooltip-9 {
  top: -340px;
}
.tooltip-10 {
  top: -140px;
  left: 100px;
}
