$primary : #25c16f;
$primary-100: rgba($primary, 0.1);
$primary-700: rgba($primary, 0.7);
$primary-400: rgba($primary, 0.4);
$black: #000000;
$black-800: lighten($black, 20%);
$black-600: lighten($black, 40%);

$dot-red: #fc635d;
$dot-yellow: #fdbc40;
$dot-green: #34c84a;

$image-container: rgb(211, 211, 211);